@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}
html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
}

/* Partie pour Styler Header*/

header{
    margin-bottom: 6%;
    color: white;
}

.hdrdiv1{
    background-color: blueviolet;
    display: flex;
    column-gap: 40%;
    align-items: center;
    
}

header h1{
    font-size: 1.4rem;
    margin-left: 5%;
}

header ul{
    width: 34%;
}

header li{
    list-style-type: none;
    float: right;
    margin-right: 5%;
    font-size: 0.9rem;
    font-weight: 600;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f06090;
}

header li:hover{
    cursor: pointer;
}

.hdrbttn{
    margin-left: 44%;
    padding: 1.5% 2%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #8a2be2;
    
}

.hdrbttn a{
    text-decoration: none;
}

.hdrbttn:hover{
    opacity: 0.9;
    
}

.hdrbttn a:hover{
    opacity: 0.8;
    color: #f06090;
}

.hdrdiv2{
    width: 100%;
    height: 42rem;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}

.hdrdiv3 p{
    margin-top: 0;
}

.phtprfldiv{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 26%;
    border-radius: 100%;
    height: 49%;
    margin-left: 17%;
}

.phtprfldiv img{
    width: 100%;
    object-fit: cover;
}

.hdrdiv3{
    height: 33%;
    width: 77%;

}

.prg1{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.prg2{
    font-size: 2.5rem;
    font-weight: 700;
}



/* Partie pour Styler la section Skills*/
.sklsction h2, p{
    text-align: center;
}

.sklsction{
    margin-bottom: 8%;
}

.sklttl{
    font-size: 3rem;
    font-weight: 700;
    color: #8a2be2;
}

.sklprgph{
    color: #49148a;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 5%;
}

.skldiv{
    margin-top: 5%;
    display: flex;
    column-gap: 5%;
    padding-left: 21.5%;
    
}

.skldivscnd{
    margin-top: 5%;
    display: flex;
    column-gap: 5%;
    padding-left: 30.5%;
    
}

.skldivthrd{
    margin-top: 5%;
    column-gap: 5%;
    padding-left: 41.5%;
    
}

.skldiv1{
   width: 16.25rem;
   height: 16rem;
   background-color: #f06090;
   border-radius: 10px;
   padding-top: 3%;

}

.skldiv1 h3{
    text-align: center;
    font-size: 2rem;

}

.skldiv1:hover{
    background-color: #c3185d;
    color:white;
    cursor: pointer; 
 
 }

.div1img{
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 34%;
}

.div1img:hover{
    cursor: pointer;
}

.div1img img{
    width: 100%;
    object-fit: cover;
}



.div2img{
    height: 6.5rem;
    width: 12.5rem;
    margin-left: 8%;
}

.div2img:hover{
    cursor: pointer;
}

.div2img img{
    width: 100%;
    object-fit: cover;
}



.div3img{
    height: 6.5rem;
    width: 18.5rem;
    margin-left: -7%;
}

.div3img:hover{
    cursor: pointer;
}

.div3img img{
    width: 100%;
    object-fit: cover;
}




.div4img{
    height: 6.5rem;
    width: 7.5rem;
    margin-left: 29%;
}

.div4img:hover{
    cursor: pointer;
}

.div4img img{
    width: 100%;
    object-fit: cover;
}


.div5img{
    height: 9.5rem;
    width: 20.5rem;
    margin-left: -15%;
    margin-top: -20%;
}

.div5img:hover{
    cursor: pointer;
}

.div5img img{
    width: 100%;
    object-fit: cover;
}


.div6img{
    height: 7.5rem;
    width: 11.5rem;
    margin-left: 11%;
}

.div6img:hover{
    cursor: pointer;
}

.div6img img{
    width: 100%;
    object-fit: cover;
}


/* Partie pour Styler la section About*/

.abtsction{
    overflow: hidden;
    margin-bottom: 10%;
}

.abtsction h2, p{
    text-align: center;
}

.abtprgdiv{
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding: 10px 50px;
    font-size: 1.4rem;
    width: 70%;
    margin-left: 12%;
    border-radius: 10px;
}


/* Partie pour Styler la section Parcours*/
.prcrsction h2, p{
    text-align: center;
}

.twdivctnr{
    display: flex;
    column-gap: 10%;
    padding-left: 10%;
    margin-top: 6%;

}

.tagdate{
    height: 42px;
    width: 165px;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #c3185d;
}

.tagdate p{
    margin-top: 5px;
}


.tagtxt{
    width: 60%;
}

.tagtxt p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
}



/* Partie pour Styler la section PortFolio*/

.prtflsction{
    margin-top: 10%;
    background-color: #f06090;
    padding-top: 3%;
    padding-bottom: 0.5%;
}

.prtflsction h2, p{
    text-align: center;
}


.fldiv1{
    width: 25.75rem;
    height: 17.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.imgsndiv{
    position: absolute;
    width: 100%;
    height: 300%; 
    padding-top: 40%;
    background: rgba(73, 20, 138, 0.5);
    top: 0;
    opacity: 0;
    transition: 0.7s;
    transform: translateY(5%);
}

.fldiv1:hover .imgsndiv{
    cursor: pointer;
    opacity: 1;
    transform: translateY(-10%);
}




.fldiv1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgsndiv p{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.prtfldiv{
    display: flex;
    column-gap: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

